<h2>Área para miembros CUIDACOCHES</h2>

<p>
    Bienvenido <b>{{request.user.username}}</b>,
    esta página es exclusiva para usuarios registrados.
</p>

{% if user.groups.all.0.name == "cuidacoches" %}
<h2>Pertenece al grupo {{ request.user.groups.all.0.name }}</h2>
<h2>Pertenece al grupo {{ request.user.groups.name }}</h2>
{% elif user.groups.all.0.name == "usuarios" %}
<h2>Pertenece al grupo {{ request.user.groups.all.0.name }}</h2>
<h2>Pertenece al grupo {{ request.user.groups.name }}</h2>
{% else %}
<h3>No pertece a ningun grupo</h3>
    <h2>Pertenece al grupo {{ request.user.groups.all.0.name }}</h2>
<h2>Pertenece al grupo {{ request.user.groups.name }}</h2>
{% endif %}

<hr />
<a href="/logout">Cerrar sesión</a>