<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>puntuacion</title>
</head>
<body><br>
    <a>¿Desea darle propina al cuidacoches Brian? </a><br><br>
    <form>
      <p class="clasificacion">
        <input id="radio1" type="radio" name="propina" value="100">
        <label for="radio1">$100</label><br>
        <input id="radio2" type="radio" name="propina" value="50">
        <label for="radio2">$50</label><br>
        <input id="radio3" type="radio" name="propina" value="20">
        <label for="radio3">$20</label><br>
        <input id="text" type="text" name="propina" value="">
        <label for="text">Otro</label><br>
      </p>
    </form>
    <button onclick="location.href='http://localhost:8000/TeLoCuido/puntuacion'">Dar Propina</button>
</body>
</html>