{% extends 'base.html' %}
{% block content %}
    <h1>Lista de Pura Sangres, #Never_Pony!!!!</h1>
    {% if user.is_authenticated %}
        <p> Bienvenido, <b> {{ user.username }} | <a href="{% url "logout" %}"> Logout </a></b></p>
    {% else %}
        <p> Bienvenido. Por favor <a href="{% url "login" %}"> Login </a></b></p>
    {% endif %}
    <div class="row">
        {% for integrante in equipo %}
            <di class="col">
            <div class="card" style="width: 18rem;">
                <img src={{integrante.foto}} class="card-img-top" alt="{{integrante.fotos}}">
                <div class="card-body">
                    <h5 class="card-title">{{integrante.nombre}} {{integrante.mail}}</h5>
                    <p class="card-text"> Por una ciudad inteligente
                        </p>
                    <a href="#" class="btn btn-primary"> Mail </a>
                </div>
            </div>
        </di>
        {% endfor %}
    </div>
{% endblock %}
