<! -- Se definio directamente la ubicacion de ejido y 18 para que figuren los puntos de los cuidacoches -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lugar Ocupado</title>
    <style>
      #Publicidad{
        width:820px;
        height:1080px;
        float: right;
        background-color:yellow;
        }
      body {
        margin: 0;
        padding: 0;
      }
    </style>
</head>
  <body>
      <form method="post">{% csrf_token %}</form>
    <div> Hola la variable es: {{ codigo }} Quedo bien? </div>
    <div id = "Publicidad" >
        {% load static %}
        <img src="{%  static 'publicidad.png' %}"></img>

    </div>
</body>
</html>